.main
  .main__group
    .main__group__boxleft
      .main__group__boxleft__texttop
        =@group.name
      .main__group__boxleft__textunder
        Member：
        - @group.users.each do |user|
          =user.name
    .main__group__boxright
      = link_to "Edit", edit_group_path(@group),class: "btn-default" 
  .main__comment
    = render @messages

  .main__bottom
    .main__bottom__chat
      = form_for [@group, @message] do |f|
        .main__bottom__chat__text
          = f.text_field :content, class: 'main__bottom__chat__text__left', placeholder: 'type a message'
          .main__bottom__chat__text__icon
            = f.label :image, class: "image" do
              = icon('fas', 'image',class:'icon')
              = f.file_field :image,class:'file'
        = f.submit 'Send',class: "main__bottom__chat__send"
        